extends layout

block variables
	- var active = 'home'

block content
	include _header

	.container
		section.row(ng-controller='SectionsCtrl', ng-init="setSelectedSection(sections[0])")
			.col.col-sm-3
				h1 #{title}
				p.lead New in 2.0
				p
					input.form-control(type='text', ng-model='sectionInput', placeholder='Search Sections', ng-change="setSelectedSection(filteredSections[0])")
				p.ks-beforeload Loading...
				p.ks-afterload(
					style="cursor: pointer"
					ng-repeat='section in (filteredSections = (sections | filter: sectionInput))'
					ng-click="setSelectedSection(section)"
					class="{{selectedSection == section ? 'text-primary' : 'text-muted' }}"
				) {{section.name}}
			.col.col-sm-8(ng-view)
			.col.col-sm-8(ng-hide="selectedSection.name")
				p
					em.text-muted
						span.hidden-xs Select an article to read from the left.
						span.visible-xs Select an article to read above.
	:coffeescript
		k$.ready ->  
			$.growl
			title: 'Welcome to #{title}!'
			text: 'Check out the documentation to get started.'
			type: 'success'
			delay: 3000