br
.row
	.col-md-8
		.table-responsive
			table.table.table-condensed.table-striped.table-hover
				thead
					tr
						th 
							input(
								type="checkbox"
								ng-click="threads.selectAll(!threads.selectAllVal)"
								ng-model="threads.selectAllVal"
							)
						th Subject
						th Read?
				tbody.ks-afterload_opacity(ng-repeat="thread in threads | orderByPriority")
					tr(ng-class="thread.$id == selectedKey ? 'success' : ''")
						td
							input(
								type="checkbox"
								ng-model="thread.val"
								ng-change="threads.countSelected()"
							)
						td 
							a(href="#top" ng-click="threads.select(thread.$id)") {{thread.subject}}
						td {{thread.read}}
					tr
						td
						td(colspan="2")
							table.table.table-condensed.table-striped.table-hover
								thead
									tr
										th 
											input(
												type="checkbox"
												ng-click="threads.messages.selectAll(!thread.messages.selectAllVal, thread.$id)"
												ng-model="thread.messages.selectAllVal"
											)
										th Contact
										th Date
								tbody
									tr(
										ng-repeat="message in thread.messages | orderByPriority"
									)
										td
											input(
												type="checkbox"
												ng-model="message.val"
												ng-change="threads.messages.countSelected(thread.$id)"
											)
										td 
											a(href="#top" ng-click="threads.messages.select(message.$id, thread.$id)")
												{{contactForId(message.contactId).fName}} {{contactForId(message.contactId).lName}}
										td {{message.date}}

			p.ks-beforeload
				em.text-muted Loading...
		.navbar.navbar-default.navbar-fixed-bottom
			.container
				p.navbar-text Threads
				ul.navbar-nav.nav.ks-afterload
					li
						a.btn.btn-link
							span.label(class="{{threads.selectionCount == 0 ? 'label-default' : 'label-success'}}") {{threads.selectionCount}}
					li
						a.btn.btn-link(href="" ng-click="threads.delete(selected)")
							span.glyphicon.glyphicon-trash
					li
						a.btn.btn-link(href="#bottom" ng-click="threads.create()")
							span.glyphicon.glyphicon-plus
							
	.col-md-4
		.panel.panel-default
			.panel-heading 
				span.glyphicon.glyphicon-edit
				|  Edit
			.panel-body(ng-show="selectedKey || selectedParentKey")
				p
					em.text-muted Make a selection
			.panel-body.ks-afterload(ng-show="selectedKey != null")
				form
					.form-group
						label Subject
						input.form-control(type="text" ng-model="threads[selectedKey].subject")
					.checkbox
						label
							input(type="checkbox" ng-model="threads[selectedKey].read")
							|  Read?
					a.btn.btn-primary(ng-click="threads.update()") Save
			.panel-body.ks-afterload(ng-show="selectedType == 'message'")
				form
					.form-group
						label Contact
						input.form-control(type="text" ng-model="contactForId(threads[selectedParentKey].messages[selectedKey].contactId).fName")
					.form-group
						label Date
						input.form-control(type="date" ng-model="threads[selectedParentKey].messages[selectedKey].date")
					.form-group
						label Text
						textarea.form-control(ng-model="threads[selectedParentKey].messages[selectedKey].text")
					a.btn.btn-primary(ng-click="threads.update()") Save