br
.row
	.col-md-8
		.table-responsive
			table.table.table-condensed.table-striped.table-hover
				thead
					tr
						th 
							input(
								type="checkbox"
								ng-click="selectAll(!selectAllVal)"
								ng-model="selectAllVal"
							)
						th Name
						th Description 
						th Image 
						th Price
				tbody.ks-afterload_opacity
					tr(ng-repeat="product in products | orderByPriority")
						td
							input(
								type="checkbox"
								ng-model="product.val"
								ng-change="countSelected()"
							)
						td 
							a(href="#top" ng-click="selectProduct(product.$id)") {{product.name}}
						td(style="max-width: 250px") {{product.desc}}
						td(style="overflow:hidden;max-width: 250px") {{product.img}}
						td {{product.price | currency:'$'}}
			p.ks-beforeload
				em.text-muted Loading...
			p#bottom
		.navbar.navbar-default.navbar-fixed-bottom
			.container
				p.navbar-text Products
				ul.navbar-nav.nav.ks-afterload
					li
						a.btn.btn-link
							span.label(class="{{selectionCount == 0 ? 'label-default' : 'label-success'}}") {{selectionCount}}
					li
						a.btn.btn-link(href="" ng-click="delete(selected)")
							span.glyphicon.glyphicon-trash
					li
						a.btn.btn-link(href="#bottom" ng-click="create()")
							span.glyphicon.glyphicon-plus
							
	.col-md-4
		.panel.panel-default#top
			.panel-heading 
				span.glyphicon.glyphicon-edit
				|  Edit
			.panel-body(ng-hide="selectedProductKey != null")
				p
					em.text-muted Make a selection
			.panel-body.ks-afterload(ng-show="selectedProductKey != null")
				form
					.form-group
						label Name
						input.form-control(type="text" ng-model="products[selectedProductKey].name")
					.form-group
						label Description
						textarea.form-control(rows="10" ng-model="products[selectedProductKey].desc")
					.form-group
						label Image
						input.form-control(type="text" ng-model="products[selectedProductKey].img")
						p.help-block Should be a valid wikimedia link after "upload.wikimedia.org/wikipedia/commons/"
					.form-group
						label Price
						input.form-control(type="number" ng-model="products[selectedProductKey].price")
					a.btn.btn-primary(ng-click="update()") Save