include _header

.container
	section.row(ng-controller='k$.messageCtrl')
		link(
			ng-repeat='contact in contacts'
			rel="prerender", 
			href="http://api.rethumb.com/v1/square/120/http://upload.wikimedia.org/wikipedia/commons/{{contact.img}}"
		)
		div.col.col-sm-3
			h1 Messages
			p.lead
				a(href="#") New
			article.panel.panel-default
				.panel-heading 
					input.form-control(type='text', ng-model='threadInput', placeholder='Search Threads')
				.list-group
					a.list-group-item(
						ng-repeat='thread in allThreads | filter: threadInput'
						ng-click='setSelectedThread(thread)'
						href="#message"
						ng-class="{'active': selectedThread.threadId == thread.threadId }"
					) 
						.media
							img.media-object.pull-left(src="http://api.rethumb.com/v1/square/128/http://upload.wikimedia.org/wikipedia/commons/{{thread.messages[0].contact.img}}", style="width: 64px;")
							.media-body
								h4.media-heading {{thread.subject}}
								p.text-muted(style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;") {{thread.messages[0].text}}
		
		nav.navbar.navbar-default.visible-sm.visible-xs#message
			.container
				ul.nav.navbar-nav	
					li
						a(href="#") 
							span.glyphicon.glyphicon-chevron-left 
							|  Messages
		div.col.col-sm-9
			h1 {{selectedThread.subject}}
			article.panel.panel-default(ng-repeat='message in selectedThread.messages')
				.panel-body
					.media
						img.media-object.pull-left(src="http://api.rethumb.com/v1/square/120/http://upload.wikimedia.org/wikipedia/commons/{{message.contact.img}}", style="width: 64px;")
						.media-body
							p 
								strong {{message.contact.fName}} {{message.contact.lName}}
							p {{message.text}}
				.panel-footer
					small
						em.text-muted Sent at {{message.date}}

script(src="js/demo/contacts.js")
script(src='js/demo/messages.js')