extends layout

block variables
	- var active = 'docs'

block content
	include _header

	.container
		section.row.spacious(ng-controller='SectionsCtrl', ng-init="setSelectedSection(sections[0])")
			link(rel="stylesheet", href="{{themePreviewUrl}}")
			.col-sm-5.col-md-3.ks-beforeload
				p Loading...
			.col-sm-5.col-md-3.ks-afterload
				// img(src="/img/kickstrap-logo.png", style="width: 248px")
				h1.kickstrap-logo(style="font-size: 50px") #{title}
				p.lead Documentation
				p
					input.form-control(type='text', ng-model='sectionInput', placeholder='Search Sections', ng-change="setSelectedSection(filteredSections[0])")
				p(
					style="cursor: pointer"
					sly-repeat='section in (filteredSections = (sections | filter: sectionInput))'
					ng-click="setSelectedSection(section)"
					class="{{selectedSection.path == section.path ? 'text-primary' : 'text-muted' }}"
				) {{section.name}}
			.col-sm-7.col-md-9(ng-view ng-animate)
			.col-sm-7.col-md-9(ng-hide="selectedSection.name")
				p
					em.text-muted
						span.hidden-xs Select an article to read from the left.
						span.visible-xs Select an article to read above.
			.col-sm-7.col-md-9.col-lg-offset-3
				.center-block#ads