-var menu = { 'Home': '/.', 'Blog': '/kickstrap/_examples/blog-all.html', 'Contacts': '/kickstrap/_examples/contacts.html', 'Products': '/kickstrap/_examples/product-list.html', 'Shopping Cart': '/kickstrap/_examples/cart.html' };

block vars
   -var selected = 'Home' //default 
   -var ksdir = './kickstrap'

!!!
html

   head
      title Kickstrap 2.0.0 Alpha
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet/less", type="text/css", href="#{ksdir}/_core/kickstrap.less")
      script
         var less = { env: 'development' }
         // Uncomment the above line to prevent caching.
      script(src="#{ksdir}/_core/js/less-1.4.0.min.js")
      //if lt IE 10
         script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
   body
      div.navbar.navbar-inverse.visible-desktop
         div.container
            a.navbar-brand Acme Industries
            div.nav-collapse.collapse
               ul.nav
                  each val, key in menu
                     if selected === key
                        li.active
                           a(href=val)= key
                     else
                        li
                           a(href=val)= key
      div.container
         ul.breadcrumb.visible-desktop
            block breadcrumbs
      div.container      
      
         block body

      script(src="http://code.jquery.com/jquery-1.9.1.min.js")
      script(src="#{ksdir}/apps/waypoints/waypoints.min.js")
      script(src="#{ksdir}/apps/waypoints/shortcuts/sticky-elements/waypoints-sticky.min.js")
      script
         $('section#sidebar').waypoint('sticky');
      block javascript
